
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Leave form</h2>

  <form class="login-container" action = "/api/users/login" method  = "POST">
    <p><input type="date" placeholder="date" name = "leaveDate"></p>
    <p><input type="text" placeholder="reason" name = "leaveReason"></p>
    <p><input type="submit" value="Log in"></p>
  </form>
</div>
